input {
    border-width:0px;
    border:none;
    outline:none;
    border: none;
    box-shadow: 3px 5px 6px rgb(190, 190, 190);
}

.active {
    width: 100%;  
    background-color: rgba(44, 62, 80,0.5);
    box-shadow: none;
}

.header_active {
    padding: 10%;
}

.button_search {
   margin-right: 100vh;
   display: flex;
   outline: none;   
   color: red;
}

.location {
    list-style-type: none;
    margin: auto;
    float: left;
}

